Source: ros-kinetic-parameter-pa
Section: misc
Priority: extra
Maintainer: Peter Weissig <wepet@hrz.tu-chemnitz.de>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-roscpp, ros-kinetic-roslib
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-parameter-pa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-kinetic-cmake-modules, ros-kinetic-roscpp, ros-kinetic-roslib
Description: ProAut parameter package
